.sign-in-text-box{
  width: 300px;
  margin: 8px;
}

.login-box{
  display:inline-block;
  margin-top: 10%;
  background-color: rgb(245, 245, 245);
}

.mat-card-cover{
  width: 100%;
  text-align:center;
}

button{
  width: 100px;
}
